@import "../../variables.scss";

.Post {
  padding: 15px 0;
  border-bottom: solid 1px $silver;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $main-font;

  &__header {
    display: flex;
  }

  &__image-container {
    margin: 0;
    width: 30px;
    height: auto;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }

  &__title-container {
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 800;
    color: $black;
    line-height: 35px;
  }

  &__created-at {
    margin: 0 0 0 10px;
    font-weight: 100;
    line-height: 27px;
    color: $black;
    opacity: 0.5;
  }

  &__content {
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow: hidden;
    margin: 10px 0;
  }

  &__username {
    margin: 0 5px 0 0;
    line-height: 30px;
  }
}
