@import "../../variables.scss";

.Link {
  color: inherit;
  font-family: $main-font;
  transition: $transition;
  opacity: 0.5;
  text-decoration: none;
  margin: 0 10px;

  &:hover {
    opacity: 1;
  }
}
